@use 'utilities/functions' as f;

:host {
  max-width: 1080px;
  aspect-ratio: 9 / 16;
  display: grid;
  grid-template-rows: 15lvh 1fr 15lvh;
  gap: f.spacing('xl');
  background-color: var(--colour-surface-base);

  > * {
    padding-inline: 5rem;
  }
}

main {
  min-height: 100%;
}
