:host {
  position: relative;
  max-width: 1080px;
  aspect-ratio: 9 / 16;
  display: grid;
  grid-template-rows: 16% 8% var(--content-height) var(--navbar-height);
  background-color: var(--colour-primary);
}

* {
  position: relative;
  z-index: 1;
}

main {
  width: var(--content-width);
  margin: 0 auto;
  padding-block: var(--content-block-padding);
}

.background {
  position: absolute;
  height: 70%;
  width: 100%;
  bottom: 0;
  border-radius: var(--widget-radius-top);
  background-color: var(--colour-bg-surface-low);
  z-index: 0;
}
