:host {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-inline: var(--sp-md);
}

ul {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-auto-rows: 100px;
  gap: var(--sp-sm);
  justify-content: center;
}

.card {
  display: grid;
  align-content: start;
  width: 100%;
  height: 100%;
  padding: var(--sp-sm);
  border: 1px solid var(--outline-colour);
  border-radius: var(--radius-md);
  background-color: var(--faded-colour);

  h4 {
    text-transform: uppercase;
  }

  p {
    font-size: var(--font-size-xs);
  }

  hr {
    border: 1px solid var(--outline-colour);
  }
}

.modal {
  overflow-y: auto;
  height: 100%;
  padding-inline: var(--sp-lg);
}

.modal__hr {
  border: 1px solid var(--colour-primary);
  margin-block: var(--sp-md);
}

.modal__table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  border-radius: var(--radius-md);
  border: 1px solid var(--colour-primary);
  overflow: hidden;

  thead {
    border-radius: var(--radius-md);
    background-color: var(--colour-primary);
    color: var(--colour-on-primary);
    font-family: var(--font-heading);
    font-size: var(--font-size-lg);
  }

  td {
    text-align: center;
    padding: var(--sp-lg);
  }

  .offering__section {
    font-family: var(--font-heading);
  }
}
