@use 'utilities/functions' as f;
@use 'utilities/mixins' as m;

/* Monospace */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/geist-mono-v6-latin-regular.woff2') format('woff2');
}

/* Headings */
@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/cal-sans-v2-latin-regular.woff2') format('woff2');
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

/* inter-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('../../assets/fonts/inter-v20-latin-italic.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/inter-v20-latin-700.woff2') format('woff2');
}

/* inter-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('../../assets/fonts/inter-v20-latin-700italic.woff2') format('woff2');
}

h1,
.h1 {
  @include m.type-scale('h1');
  font-family: f.font(title);
}

h2,
.h2 {
  @include m.type-scale('h2');
  font-family: f.font(heading);
}

h3,
.h3 {
  @include m.type-scale('h3');
  font-family: f.font(heading);
}

h4,
.h4 {
  @include m.type-scale('h4');
  font-family: f.font(heading);
}

body,
p {
  @include m.type-scale('body');
  font-family: f.font(body);
}

.text-heading {
  font-family: f.font(heading);
}

.text-mono {
  font-family: f.font(mono);
}
