@use 'utilities/functions' as f;
@use 'utilities/mixins' as m;

:host {
  display: grid;
  grid-template-rows: 55.625rem 4.685rem 20.3125rem;
  width: 100%;
  height: 100%;
}

.bottom {
  @include m.flex-center(row, 1rem);
}

.card {
  @include m.card();
  width: 100%;
}

ksk-bus-schedule-widget {
  grid-row-start: 3;
}
