@use 'utilities/functions' as *;

:host {
  height: 100%;
  width: 100%;
  display: flex;
}

.nav-button {
  text-align: center;

  &__label {
    font-family: font(heading);
  }
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

a {
  display: block;
  background-color: var(--colour-accent-pink);
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
