:host {
  display: block;
  height: 100%;
}

[ngTabs] {
  display: grid;
  grid-template-rows: 95% 1fr;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid var(--colour-bg-on-surface);
  min-height: 100%;
}

[ngTabPanel] {
  display: grid;
  place-items: center;
  flex: 1;
  position: relative;
}

[ngTabList] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colour-bg-primary);
  color: var(--colour-text-primary);
}

.sliding-window {
  width: 200%;
  display: flex;
  transition: transform 0.2s ease-in-out;
}
