:host {
  --tab-transition: transform 0.2s ease-in-out;
  display: block;
  height: 100%;
}

[ngTabs] {
  display: grid;
  grid-template-rows: 95% 1fr;
  overflow: hidden;
  border-radius: var(--border-radius-default);
  min-height: 100%;
  background-color: var(--colour-bg-on-surface);
}

[ngTabPanel] {
  display: grid;
  place-items: center;
  flex: 1;
  position: relative;
}

[ngTabList] {
  --tab-selector-width: 25%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colour-bg-primary);
  color: var(--colour-text-primary);
  border-radius: var(--border-radius-default);

  &::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: calc(var(--tab-selector-width) / 2);
    width: var(--tab-selector-width);
    height: 0.25rem;
    border-radius: 10px;
    background-color: currentColor;
    pointer-events: none;
    transition: var(--tab-transition);
  }

  &.calendar-selected::after {
    transform: translateX(200%);
  }
}

[ngTab] {
  flex: 1;
  text-align: center;
}

.sliding-window {
  width: 200%;
  display: flex;
  transition: var(--tab-transition);
}
