@use 'utilities/mixins' as *;

:host {
  --host-height: 55.625rem;
  --card-height: 38.375rem;
  --card-offset: 5rem;
  --carousel-height: calc(var(--card-height) + var(--card-offset));
  --widget-background-colour: var(--colour-bg-surface);
  @include widget();
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

swiper-container {
  --swiper-container-height: var(--carousel-height);
  --swiper-pagination-bottom: 2rem;
  width: 100%;
  padding-top: 1rem;
  @include flex-center(row, 0, vertical);
  flex-grow: 1;
  min-height: 0;
}

swiper-slide {
  @include flex-center(row);
  position: relative;
  height: var(--card-height);
  width: 36.25rem;
}

.swiper-slide-active .card::after {
  opacity: 0;
}

.card {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--widget-background-colour) 50%, transparent);
    opacity: 1;
    transition: opacity 600ms ease;
    z-index: 2;
  }
}
