<section class="class-widget">
  <h2>Courses</h2>
  <ksk-sliding-tabs class="courses">
    @for (term of terms(); track `${term.year}-${term.term}`) {
      <ng-template
        kskSlidingTab
        [value]="termKey(term)"
        [label]="termLabel(term) | titlecase"
        [preserveContent]="true"
        ><ksk-course-cards
          [selectedCourseLevels]="selectedCourseLevels()"
          [selectedDepartments]="selectedDepartments()"
          [term]="term"
        ></ksk-course-cards
      ></ng-template>
    }
  </ksk-sliding-tabs>
</section>
<section class="filter-widget">
  <h2>Filters</h2>
  <div class="filter-widget__content">
    <div class="toggle-field">
      <h3>Levels</h3>
      <div
        ngpToggleGroup
        ngpToggleGroupType="multiple"
        [(ngpToggleGroupValue)]="selectedCourseLevels"
      >
        @for (l of courseLevels; track `${l}`) {
          <button class="button" ngpToggleGroupItem [ngpToggleGroupItemValue]="l">
            {{ l }}
          </button>
        }
      </div>
    </div>
    <div class="toggle-field">
      <h3>Dept</h3>
      <div
        ngpToggleGroup
        ngpToggleGroupType="multiple"
        [(ngpToggleGroupValue)]="selectedDepartments"
      >
        @for (d of departments; track `${d}`) {
          <button class="button" ngpToggleGroupItem [ngpToggleGroupItemValue]="d">
            {{ d | uppercase }}
          </button>
        }
      </div>
    </div>
  </div>
  <!-- <div ngpToggleGroup ngpToggleGroupType="multiple" [(ngpToggleGroupValue)]="selectedMisc"> -->
  <!--   @for (m of misc; track `${m}`) { -->
  <!--     <button class="button" ngpToggleGroupItem [ngpToggleGroupItemValue]="m"> -->
  <!--       {{ m | titlecase }} -->
  <!--     </button> -->
  <!--   } -->
  <!-- </div> -->
</section>
