@use 'utilities/functions' as f;

:host {
  width: 100lvw;
  height: 100lvh;
  display: grid;
  grid-template-rows: 15lvh 1fr 15lvh;
  gap: f.spacing('xl');
  background-color: var(--colour-surface-base);

  > * {
    padding-inline: 5rem;
  }
}

main {
  min-height: 100%;
  overflow: hidden;
}
