@use 'utilities/mixins' as *;
@use 'utilities/functions' as *;

:host {
  @include widget();
}

.schedule {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}
