<div class="route">
  <h2 class="route__label">{{ routeNumber() }}</h2>
  @let nextDeparture = departures()?.[0];
  <div [class]="`status${getStatusClass(nextDeparture)}`" (click)="openScheduleModal()">
    <div class="route__content">
      <div class="route__time">
        @if (nextDeparture) {
          {{ nextDeparture.secondsUntilDeparture | busTime }}
        } @else {
          --
        }
      </div>
      <div class="route__units">
        @if (nextDeparture) {
          MIN
        }
      </div>
    </div>
  </div>
</div>
