@use 'utilities/mixins' as *;

.route {
  position: relative;
  @include flex-center(column);
  line-height: 1;
  z-index: 1;
  font-family: var(--font-heading);

  &__label {
    @include date-badge();
    width: 4.25rem;
    position: relative;
    top: var(--sp-xl);
    padding: var(--sp-xs);
  }

  &__content {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 0.375rem;
    height: 100%;
    width: 100%;
    padding-top: var(--sp-md);
    text-align: center;
  }

  &__time {
    font-size: var(--font-size-2xl);
    font-weight: 700;
    line-height: 0.85;
    width: 100%;
    text-align: center;
  }

  &__units {
    font-size: var(--font-size-lg);
    color: var(--colour-on-surface-soft);
    line-height: 1;
    width: 100%;
    text-align: center;
  }

  &__dropdown {
    position: absolute;
    top: 80%;
    bottom: 100%;
    background-color: var(--colour-bg-surface);
    color: black;
    height: 9.125rem;
    width: 50%;
    border-radius: var(--sp-md);
    z-index: -1;
    padding-top: 15%;
    padding-inline: var(--sp-xs);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.status {
  --colour-status: var(--colour-warning);
  --colour-text: black;
  @include flex-center(column, 0, both);
  background-color: var(--colour-bg-surface);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  // border: 0.75rem solid var(--colour-status);
  border: 1px var(--colour-outline) solid;
  color: var(--colour-text);

  &--arrived {
    @extend .status;
    --colour-status: var(--colour-accent-teal);
    --colour-text: var(--colour-accent-teal);
  }

  &--on-time {
    @extend .status;
    --colour-status: var(--colour-accent-blue);
  }

  &--delayed {
    @extend .status;
    --colour-status: var(--colour-warning);
    --colour-text: var(--colour-warning);
  }

  &--cancelled {
    @extend .status;
    --colour-status: var(--colour-danger);
    --colour-text: var(--colour-danger);
  }
}
