@use 'utilities/mixins' as *;
@use 'utilities/functions' as *;

.route {
  position: relative;
  @include flex-center(column);
  line-height: 1;
  z-index: 1;
  font-family: font(heading);

  &__label {
    line-height: 1;
    font-size: font-size('2xl');
    width: 4.25rem;
    position: relative;
    top: spacing(xl);
    background-color: var(--colour-surface-base);
    border-radius: spacing(xs);
    padding: spacing(xs);
  }

  &__time {
    font-size: font-size('2xl');
  }

  &__units {
    font-size: font-size('lg');
  }

  &__dropdown {
    position: absolute;
    top: 80%;
    bottom: 100%;
    background-color: var(--colour-surface-base);
    color: black;
    height: 9.125rem;
    width: 50%;
    border-radius: spacing(md);
    z-index: -1;
    padding-top: 15%;
    padding-inline: spacing(xs);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.status {
  --colour-status: var(--colour-warning);
  --colour-text: black;
  @include flex-center(column, 0, both);
  background-color: var(--colour-surface-base);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.75rem solid var(--colour-status);
  color: var(--colour-text);

  &--arrived {
    @extend .status;
    --colour-status: var(--colour-accent-teal);
    --colour-text: var(--colour-accent-teal);
  }

  &--on-time {
    @extend .status;
    --colour-status: var(--colour-accent-blue);
  }

  &--delayed {
    @extend .status;
    --colour-status: var(--colour-warning);
    --colour-text: var(--colour-warning);
  }

  &--cancelled {
    @extend .status;
    --colour-status: var(--colour-danger);
    --colour-text: var(--colour-danger);
  }
}
