<nav>
  @for (item of navItems(); track $index) {
    <a
      [routerLink]="item.url"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (isActiveChange)="setActiveIndex($event, $index)"
      ariaCurrentWhenActive="page"
      kskMultiTap
      (multiTapTriggered)="debug.openDebugModal()"
    >
      <svg [lucideIcon]="item.icon" [size]="48"></svg>
      <div class="nav-button__label">{{ item.label }}</div>
    </a>
  }
  <span
    class="nav-slider"
    [style.width.%]="100 / navItems().length"
    [style.transform]="'translateX(' + activeIndex() * 100 + '%)'"
  >
  </span>
</nav>
