@use 'utilities/functions' as *;

:host {
  --nav-button-background-colour: var(--colour-action-primary);
  height: 100%;
  width: 100%;
  display: flex;
}

.nav-button {
  text-align: center;

  &__label {
    font-family: font(heading);
  }
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

a {
  display: flex;
  justify-content: center;
  max-width: 6.25rem;
  align-items: center;
  background-color: var(--nav-button-background-colour);
  padding: 2rem;
  border-radius: 50%;
}
