@use 'utilities/functions' as *;

:host {
  --nav-button-colour: var(--colour-on-surface-strong);
  --nav-button-colour-active: var(--primary-dark-30);
  height: 100%;
  width: 100%;
  display: flex;
}

.nav-button {
  text-align: center;

  &__label {
    font-family: font(heading);
  }
}

nav {
  border-radius: var(--widget-radius-top);
  background-color: var(--colour-bg-surface);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

a {
  display: flex;
  color: var(--nav-button-colour);
  justify-content: center;
  max-width: 6.25rem;
  align-items: center;
}
