@use 'sass:map';
@use 'variables' as v;

/*
 * direction - flex direction: `row` or `column`
 * gap - flex gap value with CSS units
 * axis - the axis to center on: `horizontal`, `vertical`, or `both`
 */
@mixin flex-center($direction: row, $gap: 0, $axis: horizontal) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;

  @if $axis == both {
    justify-content: center;
    align-items: center;
  } @else if $direction == row {
    @if $axis == horizontal {
      justify-content: center;
    } @else {
      align-items: center;
    }
  } @else if $direction == column {
    @if $axis == horizontal {
      align-items: center;
    } @else {
      justify-content: center;
    }
  }
}

@mixin widget($bg-colour: var(--colour-bg-surface), $border-radius: var(--widget-radius)) {
  background-color: $bg-colour;
  border-radius: $border-radius;
  overflow: hidden;
  border: 1px solid var(--colour-outline);

  > h2 {
    color: var(--colour-on-surface-strong);
    text-align: center;
    margin: 1rem 0;
  }
}

@mixin card($bg-colour: var(--colour-bg-surface), $border-radius: var(--radius-lg)) {
  background-color: $bg-colour;
  border-radius: $border-radius;
  overflow: hidden;
  border: 1px solid var(--colour-outline);
}

@mixin badge() {
  background-color: var(--colour-primary-dark-30);
  color: var(--colour-on-primary);
  border-radius: var(--radius-md);
  font-family: var(--font-heading);
  display: grid;
  place-items: center;
  line-height: 1;
  padding: var(--sp-sm);
}

@mixin generate-palette($palette) {
  @each $name, $value in $palette {
    --colour-#{$name}: #{$value};
    --colour-#{$name}-light-10: color-mix(in srgb, var(--colour-#{$name}), white 10%);
    --colour-#{$name}-light-20: color-mix(in srgb, var(--colour-#{$name}), white 20%);
    --colour-#{$name}-dark-30: color-mix(in srgb, var(--colour-#{$name}), black 30%);
  }
}
