/* You can add global styles to this file, and also import other style files */
@use 'sass:meta';

@layer library, base, tokens, components, overrides;
@import url('../../node_modules/angular-calendar/css/angular-calendar.css') layer(library);

@layer base {
  @include meta.load-css('base/reset');
  @include meta.load-css('base/typography');
}

@layer overrides {
  @include meta.load-css('overrides/calendar');
  @include meta.load-css('overrides/swiper');
  @include meta.load-css('overrides/qrcode');
}

@layer tokens {
  @include meta.load-css('tokens/structure');
  @include meta.load-css('tokens/colours');
  @include meta.load-css('tokens/palette');
}

@layer components {
  :root {
    --widget-radius: var(--radius-lg);
    --widget-radius-top: var(--radius-lg) var(--radius-lg) 0 0;

    --badge-colour: var(--colour-secondary);
  }

  html {
    scrollbar-color: var(--colour-secondary) var(--colour-bg-surface);
  }

  .button {
    background-color: var(--colour-primary);
    font-family: var(--font-body);
    padding: var(--sp-sm) var(--sp-md);
    border-radius: var(--radius-md);
    border: 2px solid var(--colour-secondary);
    height: fit-content;
    width: fit-content;
  }
}

html,
body,
app-root {
  // Disables pinch-to-zoom
  touch-action: pan-x pan-y;

  // Disables swipe down to refresh
  overscroll-behavior: none;
}
