@use 'utilities/mixins' as *;
@use 'utilities/functions' as *;

:host {
  @include card(var(--colour-accent-blue));
}

.schedule {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

.route {
  @include flex-center(column);
  line-height: 1;

  &__label {
    line-height: 1;
    font-size: font-size('2xl');
    position: relative;
    top: spacing(xl);
    background-color: var(--colour-surface-inverse);
    border-radius: spacing(xs);
    padding: spacing(xs);
  }

  &__time {
    font-size: font-size('3xl');
  }

  &__units {
    font-size: font-size('xl');
  }
}

.status {
  --colour-status: var(--colour-warning);
  --colour-text: black;
  @include flex-center(column, 0, both);
  background-color: white;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.75rem solid var(--colour-status);
  color: var(--colour-text);

  &--arrived {
    @extend .status;
    --colour-status: var(--colour-accent-teal);
    --colour-text: var(--colour-accent-teal);
  }

  &--on-time {
    @extend .status;
    --colour-status: var(--colour-accent-blue);
  }

  &--delayed {
    @extend .status;
    --colour-status: var(--colour-warning);
    --colour-text: var(--colour-warning);
  }

  &--cancelled {
    @extend .status;
    --colour-status: var(--colour-danger);
    --colour-text: var(--colour-danger);
  }
}
