<h2>departures @ upper loop</h2>
<div class="schedule">
  @for (route of routesToTrack; track $index) {
    <div class="route">
      <h3 class="route__label">{{ route }}</h3>
      @let nextDeparture = nextDepartures().get(route)?.[0];
      <div [class]="nextDeparture?.status ?? ''">
        <div class="route__time">
          @if (nextDeparture) {
            {{ getDisplayTime(nextDeparture.secondsUntilDeparture) | number: '2.0-0' }}
          } @else {
            DONE
          }
        </div>
        <br />
        <div class="route__units">
          @if (nextDeparture) {
            MIN
          }
        </div>
      </div>
    </div>
  }
</div>
