<h2>Next</h2>
<div class="next">
  @if (events().length > 0) {
    @let event = events()[0];
    <div class="next__img">
      <img
        [ngSrc]="getFallbackPosterUrl(0, event?.posterUrl)"
        alt="title"
        [width]="DUMMY_IMG_W"
        [height]="DUMMY_IMG_H"
      />
    </div>
    <div class="next__info">
      <h2>{{ event.name }}</h2>
      <div class="datetime">
        <svg lucideCalendar></svg>{{ event.start_datetime | date: 'longDate' }}
      </div>
      <div class="datetime">
        <svg lucideClock></svg>{{ event.start_datetime | date: 'shortTime' }}
      </div>
      <div></div>
      <p>{{ event.description }}</p>
    </div>
  }
</div>
<h2>Upcoming</h2>
<div class="upcoming">
  <swiper-container init="false" #swiperRef>
    @for (event of events() | slice: 1; track event.eid) {
      <swiper-slide>
        <ksk-date-card
          [date]="event.startDatetime"
          [title]="event.name"
          [imgSrc]="getFallbackPosterUrl($index, event.posterUrl)"
          [width]="DUMMY_IMG_W"
          [height]="DUMMY_IMG_H"
        />
      </swiper-slide>
    }
  </swiper-container>
</div>
