<section class="next">
  <h2>Next</h2>
  <div class="next__card">
    @if (events().length > 0) {
      @let event = events()[0];
      <div class="next__img">
        <img [ngSrc]="event.image_url" alt="title" [height]="IMG_H" [width]="IMG_W" />
      </div>
      <div class="next__info">
        <h3>{{ event.name }}</h3>
        <ksk-event-details [event]="event" />
        <p class="next__description">{{ event.description }}</p>
      </div>
    }
  </div>
</section>
<section class="upcoming">
  <h2>Upcoming</h2>
  <swiper-container init="false" #swiperRef>
    @for (event of events() | slice: 1; track event.eid) {
      <swiper-slide>
        <ksk-date-card
          [date]="event.startDatetime"
          [title]="event.name"
          [imgSrc]="event.image_url"
          [width]="IMG_W"
          [height]="IMG_H"
        />
      </swiper-slide>
    }
  </swiper-container>
</section>
