:root {
  --header-height: 24%;
  --navbar-height: 8%;
  --content-height: calc(100% - var(--header-height) - var(--navbar-height));

  --content-inline-padding: 8.5%;
  --content-block-padding: 6%;
  --content-width: calc(100vw - 2 * var(--content-inline-padding));

  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 1rem;
  --sp-lg: 1.5rem;
  --sp-xl: 2rem;
  --sp-2xl: 2.5rem;
  --sp-3xl: 3rem;

  --radius-md: 10px;
  --radius-lg: 50px;
  --radius-full: 9999px;

  --animation-fast: 0.1s;
  --animation-normal: 0.3s;
  --animation-slow: 0.5s;
}
