@use 'utilities/mixins' as m;
@use 'utilities/functions' as f;

:host {
  --host-height: 55.625rem;
  --card-height: 38.375rem;
  --card-offset: 5rem;
  --carousel-height: calc(var(--card-height) + var(--card-offset));
  @include m.card(var(--colour-accent-teal));
  overflow: hidden;
}

swiper-container {
  width: 100%;
  height: var(--carousel-height);
  @include m.flex-center(row, 0, vertical);
}

swiper-slide {
  @include m.flex-center(row);
  max-height: var(--card-height);

  .card__img {
    @include m.card();
    height: 100%;
    object-fit: cover;
    padding: 0;
  }
}
