@use 'utilities/extends';
@use 'utilities/mixins' as m;

:host {
  @extend %card-bg;

  display: block;
}

.carousel {
  @include m.flex-center(row);
}

.card {
  width: fit-content;
  padding: 0;

  &__img {
    @extend %card-bg;
    padding: 0;
  }
}
