:host {
  --cell-padding: 0.2rem;

  width: 100%;
  height: 100%;
  display: grid;
  align-content: end;
  color: var(--colour-on-surface);
}

.calendar-title {
  text-align: center;
  padding-block: var(--sp-md);
}

.month-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-md);
  padding-block: var(--sp-md);
}

.cal-cell-top {
  border-right: none;
  padding: var(--cell-padding);
  min-height: 0;
}

.cal__events {
  --event-gap: var(--sp-xs);

  display: flex;
  gap: var(--event-gap);
  flex-direction: column;
  min-height: 7rem;
  padding-inline: var(--cell-padding);
}

.cal__event {
  display: block;
  background-color: var(--colour-primary);
  color: var(--colour-on-primary);
  padding-inline: var(--sp-xs);
  border-radius: 4px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--holiday {
    @extend .cal__event;
    max-width: 6rem;
  }
}
