@use 'utilities/functions' as *;

.cal__events {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  min-height: 10rem;
  padding: 0.2rem;
}

.cal__event {
  display: block;
  background-color: var(--colour-bg-primary);
  color: var(--colour-text-primary);
  padding: 0.1rem;
  border-radius: 4px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--holiday {
    @extend .cal__event;
    max-width: 6rem;
  }
}
