$csss-brand: (
  black: hsl(0, 0%, 0%),
  cream: hsl(55, 71%, 97%),
  teal: hsl(166, 57%, 43%),
  blue: hsl(240, 100%, 28%),
  pink: hsl(357, 98%, 74%),
  red: hsl(358, 98%, 65%),
  grey: hsl(0, 0%, 38%)
);

$app: (
  red: hsl(0, 100%, 35%),
  green: hsl(135, 100%, 42%),
  yellow: hsl(70, 64%, 41%)
);
